body {
    font-family: Arial, Helvetica, sans-serif;
}

.global {
    background-color: #515151;
    min-height: 100vh;
    width: 100%;
    color: white;
    display: inline-block;
}

.header {
    height: 100px;
    margin-bottom: 150px;
}

.container {
  max-width: 1200px;    
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
}

input {
    font-size: 16px;
    width: 80%;
    padding: 10px;
}

#convert-form {
    display: flex;
    justify-content: center;
    margin: 60px 0px 20px 0px;
    align-items: center;
}

.btn {
    padding: 12px 24px;
    min-width: 100px;
    font-size: 16px;
    font-weight: bold;
    background-color:rgb(186, 73, 73);
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.dropbtn {
    font-weight: normal;
    background-color: #1f74ad;
    padding: 12px 40px 12px 24px;
    text-align: left;
    background-image: url("../assets/arrow-thin-chevron-bottom-icon.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
}

.page-title {
    font-size: 56px;
    padding: 15px;
    line-height: 70px;
    font-weight: bold;
}

#status {
    margin-top: 20px;
}

.non-clickable {
    pointer-events: none;
}

/* Tablettes et petits écrans (≥ 600px) */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 0 16px;    /* petit padding sur mobile */
  }
  #convert-form {
    flex-wrap: wrap;
    align-items: stretch;
  }
  input {
    width: 100%;
  }
  .btn {
    width: 50%;
  }
}
