body {
    font-family: Arial, Helvetica, sans-serif;
}

.global {
    background-color: #333333;
    min-height: 100vh;
    width: 100%;
    color: white;
    display: inline-block;
}

.header {
    height: 100px;
    background-color: rgb(186, 73, 73);
    margin-bottom: 150px;
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* .convert-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 20px 0px 20px 0px;
    margin: 60px 0px 20px 0px;
    text-align: center;
} */

.video-url {
    font-size: 18px;
    /* line-height: 1.5em; */
    color: #555;
    overflow: hidden;
    display: flex;
    width: 80%;
}


.btn {
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 100px;
    font-size: 18px;
    /* font-weight: bold; */
    background-color:rgb(186, 73, 73);
    color: white;
    text-align: center;
    text-transform: uppercase;
}

input {
    font-size: 18px;
    margin-top: 40px;
    border-radius: 4px;
    width: 80%;
    padding: 10px;
    border: none;
    color: #5e5e5e;
}

.page-title {
    font-size: 56px;
    /* padding: 15px; */
    margin-bottom: 15px;
    line-height: 70px;
    font-weight: bold;
}

#bar {
    margin-top: 40px;
    width: 100%;
    background-color: lightgrey;
}

.non-clickable {
    pointer-events: none;
}

/* 
#progress {
    width: 0%;
    height: 30px;
    background-color: rgb(186, 73, 73);
} */


